* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.route-options {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	width: 300px;
	padding: 1em;
}

.map-canvas {
	height: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 300px;
}