<html>
  <head>
    <title>{% block title %}Pegasus{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/assets/frontend.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzWcfQuUQHqsPtVyi8F2DY7bSrJJ-VBb8&sensor=false">
    </script>
    <script src="/assets/frontend.js"></script>
  </head>
  <body ontouchstart="" {% if user %}class="loggedin"{% endif %}>
    <div class="wrapper">
      <div class="page-content">
        {% block page %}
          TEST
        {% endblock %}
      </div>
    </div>
  </body>
</html>