{% extends "base.html" %}

{% block page %}
<script type="text/javascript" src="/assets/route.js"></script>
<div class="route-options block-form">
	<select class="travel-mode">
		<option  value="BICYCLING">Bicycle</option>
		<option selected value="DRIVING">Car</option>
	</select>
	<fieldset>
		<label>Start address</label>
		<input class="start" type="text" value="Robinson College Grange Road Cambridge CB3 9AN" />
	</fieldset>
	<fieldset>
		<label>End address</label>
		<input class="end" type="text" value="Computer Laboratory  William Gates Building  15 JJ Thomson Avenue  Cambridge CB3 0FD " />
	</fieldset>
	<button class="calculate">Calculate</button>
	<button class="get-issues">Get issues</button>
	<div class="directions-panel"></div>
</div>
<div class="map-canvas"></div>
{% endblock %}